body {
  background-color: #d2b48c;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px dotted black;
  padding: 10px 10px 10px 10px;
  font-family:  Helvetica, sans-serif;
  }
h1{
  background-color: aliceblue;
  margin: 10% 30%;
  border: 5px ridge rgb(104, 16, 16);
}
p{
  background-color:beige;
}